@model IEnumerable<MatheusMonteiroTeste.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Data</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Data</th>
        </tr>
    </tfoot>
</table>
